{% load static %}
<div class="testimonials_slider_container">
    <div class="owl-carousel owl-theme testimonials_slider">
        
        <!-- Slide -->
        <div class="owl-item text-center">
            <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</div>
            <div class="testimonial_author">
                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                    <div>john turner,</div>
                    <div>client</div>
                </div>
            </div>
        </div>

        <!-- Slide -->
        <div class="owl-item text-center">
            <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</div>
            <div class="testimonial_author">
                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                    <div>john turner,</div>
                    <div>client</div>
                </div>
            </div>
        </div>

        <!-- Slide -->
        <div class="owl-item text-center">
            <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</div>
            <div class="testimonial_author">
                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                    <div>john turner,</div>
                    <div>client</div>
                </div>
            </div>
        </div>

    </div>
</div>
